html, body, #root {
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
	min-height: 100vh;
    font-family: var(--font-family);
}

.Layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.Layout > header {
    grid-row: 1;
}

.Layout > main {
    grid-row: 2 ;
    overflow-y: scroll;
    
}

.Layout > footer {
    grid-row: 3;
}